@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.nav-bar-shelves-container {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.nav-bar-shelves-home {
    background-color: #ab2a19;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-width: 250px;
}

.nav-bar-shelves-shelf {
    width: 80%;
    background-color: #d34735;
    font-family: 'Open Sans';
    color: #FFF;
    font-size: 2em;
    padding: 30px;
    font-weight: bold;
}

.main-content-shelves {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content-shelves-populated {
    color: white;
    background-color: #ED6B5A;
    height: 100px;
    border-radius: 25px;
    padding: 30px;
    padding-left: 100px;
    font-family: 'Open Sans';
    font-size: 2em;
    margin-top: 20px;
    width: 50%;
    font-weight: bold;
    text-decoration: none;
}

.main-content-shelves-empty {
    color: white;
    background-color: #FFB8AF;
    height: 100px;
    border-radius: 25px;
    padding: 30px;
    padding-left: 100px;
    font-family: 'Open Sans';
    font-size: 2em;
    margin-top: 20px;
    width: 50%;
    font-weight: bold;
    text-decoration: none;
}